		td, h1, h2, h3, h4, h5, p, ul, ol, li {
			page-break-inside: avoid; 
		}
		.HITO {
			border : solid 2px #000000;
			color : #000000;
		}
        .Ventana_codigo {
			border : solid 2px #000000;
			background : #000000;
			color : #E2E2E2;
			padding : 4px;
			overflow : auto;
			}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
		}	
